<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/styles/styles.css"> -->
    <!-- <title><%= title %></title> -->
</head>
<body>
    <!-- content wrapper -->
<h1 class="heading">sinfo-node-backend</h1>
<p>This is a backend REST api that consumes data from <a href="https://jsonplaceholder.typicode.com/">JSONPlaceholder</a>.

    This application is built with <a href="https://expressjs.com/">ExpressJS</a> and and <a href="https://nodejs.org/en/">NodeJS</a> and is available on <a href="https://sinfo-node-backend.vercel.app/">Node-Backend-Link</a>.
</p>
<h2 class="heading-2">Links to fetch data</h2>
<ol>
    <li><h3>Users</h3>
    <ul>
        <li>Get all <a href="">users</a></li>
        <li>Get a single user <a href="">users</a></li>
    </ul>
</li>
    <li>Posts</li>
    <li>Comments</li>
    <li>Albums</li>
    <li>Photos</li>
</ol>
</body>
</html>